<h2>Details</h2>
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" [(ngModel)]="profile.name" name="name" #name="ngModel" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" [(ngModel)]="profile.description" name="description" #name="ngModel" />
    </div>
    <hr/>
    <div *ngFor="let probe of profile.probes">
        <div *ngIf="!probe.isDeleted">
            <div class="form-group">
                <label for="channel">Channel</label>
                <input type="text" class="form-control" [(ngModel)]="probe.channel" name="channel" #name="ngModel" />
            </div>
            <div class="form-group">
                <label for="label">Label</label>
                <input type="text" class="form-control" [(ngModel)]="probe.label" name="label" #name="ngModel" />
            </div>
            <div class="form-group">
                <label for="upperThreshold">Upper Threshold</label>
                <input type="text" class="form-control" [(ngModel)]="probe.upperThreshold" name="upperThreshold" #name="ngModel" />
            </div>
            <div class="form-group">
                <label for="lowerThreshold">Lower Threshold</label>
                <input type="text" class="form-control" [(ngModel)]="probe.lowerThreshold" name="lowerThreshold" #name="ngModel" />
            </div>
            <button (click)="deleteProbe(probe.id)" class="btn btn-default">Delete</button>
        </div>
    </div>
    <div>
        <button (click)="addProbe()" *ngIf="!showAddProbe" class="btn btn-default">Add</button>
        <button (click)="cancelAddProbe()" *ngIf="showAddProbe" class="btn btn-default">Cancel</button>
    </div>
    <div *ngIf="showAddProbe">
        <div class="form-group">
            <label for="channel">Channel</label>
            <input type="text" class="form-control" [(ngModel)]="newProbe.channel" name="newchannel" />
        </div>
        <div class="form-group">
            <label for="label">Label</label>
            <input type="text" class="form-control" [(ngModel)]="newProbe.label" name="newlabel" />
        </div>
        <div class="form-group">
            <label for="upperThreshold">Upper Threshold</label>
            <input type="text" class="form-control" [(ngModel)]="newProbe.upperThreshold" name="newupperThreshold" />
        </div>
        <div class="form-group">
            <label for="lowerThreshold">Lower Threshold</label>
            <input type="text" class="form-control" [(ngModel)]="newProbe.lowerThreshold" name="newlowerThreshold"/>
        </div>
        <button (click)="saveProbe()" class="btn btn-default">Add Probe</button>
    </div>
    
    <button (click)="onSubmit()" class="btn btn-primary">Save</button>
</form>