node_modules/
public/
web/client/app.module.js
web/client/app.module.js.map
web/client/components/*.js
web/client/components/*.js.map
web/client/services/*.js
web/client/services/*.js.map
web/client/models/*.js
web/client/models/*.js.map
web/typings
thermometer.db