node_modules/
public/
web/client/main.js
web/client/main.js.map
web/client/components/*.js
web/client/components/*.js.map
web/client/services/*.js
web/client/services/*.js.map
web/typings
thermometer.db