doctype html
html(lang="en")
  head
    title= "Grill Thermometer"
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="node_modules/core-js/client/shim.min.js")
    script(src="node_modules/zone.js/dist/zone.js")
    script(src="node_modules/reflect-metadata/Reflect.js")
    script(src="node_modules/rxjs/bundles/Rx.umd.js")
    script(src="node_modules/systemjs/dist/system.src.js")
    script(src="client/systemjs.config.js")

    script.
      System.import('app').catch(function(err){ console.error(err); });
  body
    div
      h1 Grill Thermometer!
    div
      if isProbeRunning
        h4 Probe is running.
      else
        h4 Probe is not running.
    app